[submodule "themes/dark-theme-editor"]
	path = themes/dark-theme-editor
	url = https://github.com/ShellUnease/dark-theme-editor.git
[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
